<IfModule mod_headers.c>
    # Beri izin semua orang untuk membaca file audio
    <FilesMatch "\.(mp3|mp4|ogg|wav)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>
</IfModule>

AddType audio/mpeg .mp3
AddType audio/ogg .ogg
AddType audio/wav .wav

# Bypass ModSecurity atau proteksi folder untuk file audio
<FilesMatch "\.(mp3|mp4|ogg|wav)$">
    Satisfy Any
    Allow from all
</FilesMatch>

<FilesMatch "\.(mp3|mp4|ogg|wav)$">
    Header set Access-Control-Allow-Origin "*"
    AddType audio/mpeg .mp3
</FilesMatch>

# Pastikan routing SvelteKit SPA tetap jalan di paling bawah
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.html [L]